
@import "~bootstrap/dist/css/bootstrap.min.css";

*{
    box-sizing: border-box;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.products-item{
    width:400px;
    border: 1px solid red;
    padding: 1rem;
    position: relative;
}

.img{
    max-width:200px
}

.button{
    margin-top: 1rem;
    padding: 5px 1rem;
    background-color: gold;
}

.error{
    border: 1.5px solid red;
}

.fit_content{
    display: flex;
    justify-content: space-between;
}

.deleteSing{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: red;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    font-weight: 900;
}

.radio_btns{
    display: flex;
    column-gap: 0.5rem;
    margin: 1rem;
}

.radio{
    display: none;
}

.radio-label{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: cadetblue;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}

input[type="radio"]:checked+.radio-label{
    background-color: chartreuse;
    color: black;
}

.form{
    max-width: 350px;
}

.form div{
    width: 300px;
    padding-top: 1rem;
}